


.mypage_link:hover {
    color: white !important;
}
.mypage_link{
	background-color:lightgray;
	color:gray !important;
}
.admindiv{
	margin-right:70px;
	margin-left:50px;
}
#mypage_con{
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0);
<<<<<<< HEAD
	margin : 40px 100px 40px 230px;
=======
	margin: 40 100 40 230;
>>>>>>> 994965e2801c1f065daaaeb2c9e99d5a5441cfbe
}

.mpdiv, .classdiv, .writediv{
	margin-top:-5px !important;
}
.classdiv{
	margin-left:10px;
	margin-right:10px;
}