@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
 * {
   font-family: 'Noto Sans KR', sans-serif !important;
   box-sizing: border-box !important;
   font-weight: 500 !important;
}
.bcl{
flex-grow:1;
}
.bodyDiv{
display:flex;
}

 .divall {
     padding: 20px;
     margin-top : 70px;
     padding: 0 100px 0 300px;
 }

* {box-sizing: border-box;}
.idxbody {
	width: 200px;
	padding-left: 20px;
	float: left;
	display: flex;
	background-color: #f9f5f2;
	color: #272727;
	font-size: 15px;
}

ul {
	list-style: none;
	padding: 0
}

/* .idxhd {
	display: flex;
	background-color: #272727;
	color: #272727;
	align-items: center;
	padding: 8px;
	box-sizing: border-box;
	height: 50px !important;
	justify-content: center;
} */

.move {
	padding-left: 100px;
	background-color: #272727;
	color: #f9f5f2;
}

.info {
	background-color: #272727;
	color: #272727;
	display:flex;
	margin-left:auto;
}

li {
	margin-top: 15px;
	color : #272727;
}

.atag {
	text-decoration: none;
	color: #272727;
}
.atag2{
	text-decoration: none;
	color: #272727;
	font-size: large;
	
}
.atag2:hover {
    color: #0056b3;
    text-decoration: none;
}

.infoa {
	color:#272727;
}
.nick{
	padding-right:10px;
}
.infodiv{
	display:flex;
	text-align: center;
}
.idxlog{
    margin-top: 55px;
    height: 30px;
}
.menu{
/* 	opacity:70%; */
	color: #f9c25c;
}