/* 기본 글꼴 설정 */
* {
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
}

.note2{
	width:700px !important;
	margin-top:0px !important;
	height:500px;
}

/* 검색과 버튼들 정렬 */
.searchdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* 버튼과 입력창 간격 */
    margin-bottom: 20px;
}

.close{
	text-align:right;
	cursor:pointer;
}

#searchInput {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.notebtn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #042424;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.responBtn, .deleteBtn, .openListBtn, .sendList, .getList{
	background-color:#042424;
	color:white;
}

.sendList:active, .getList:active{
	background-color:lightgray;
}

.divnotesend{
	min-height:390px;
	margin:0 30px;
}
.notetextarea{
	height:224px !important;
}

.detailtextarea{
	width:698px;
	height: 300px;
	border-color: lightgray;
}

h3{
	text-align:center;
	margin-bottom:100px;
}
.rdoBtn{
	margin-top:10px;
	text-align:center;
}

 .detailBtn1 {
 	background-color: #042424;
 	color: white;
	float: right;
	margin-top: -20px;
}

/* 리스트 및 페이지네이션 */
#noteList {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    min-height: 350px;
    overflow-y: auto;
}

#noteList p  {
	text-align:center;
}

.notedivBtn {
	text-align:center;
}

.input-group{
	margin-top:10px;
}

#noteList li {
	color: #042424;
    padding: 10px;
    background-color: #f9f9f9 !important;
    border: 1px solid #eee;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left; /* 텍스트는 왼쪽 정렬 */
}

.pagination {
    display: flex;
    justify-content: center; /* 페이지네이션 중앙 정렬 */
    gap: 5px;
    margin-bottom: 5px;
}

.pagination button {
    padding: 5px 10px;
    background-color: #042424;
    color: white;
    border-radius: 0px !important;
    border: none;
}

.pagination .active {
    font-weight: bold;
      background-color: #042424;
      color: #fff;
         width: 35px;
   height: 38px;
   	  padding: 0.5rem 0.75rem;
   	      position: relative;
    display: block;
    margin-left: -1px;
    line-height: 1.25;
    text-align:center;
	        
}

.page-link{
	color:#042424 !important;
	cursor:pointer;
}
