/* 기본 글꼴 설정 */
* {
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 모달 창 스타일 */
<<<<<<< HEAD
=======

>>>>>>> d5e4abf47b332ba27f7b9162e7809ba7b1cea277
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* 어두운 배경, 불투명도 60% */
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

/* 모달 내용 스타일 */
.modal-content {
    background-color: #ffffff;
    padding: 20px;
    width: 700px; /* 적당한 크기의 너비 */
    max-width: 90%;
    border-radius: 10px; /* 모서리 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
    text-align: center; /* 내용 중앙 정렬 */
}

/* 닫기 버튼 */
.close {
	text-align: right;
    color: #666;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

/* 검색과 버튼들 정렬 */
.searchdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* 버튼과 입력창 간격 */
    margin-bottom: 20px;
}

#searchInput {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #042424;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

 .detailBtn1 {
	float: right;
	margin-top: -20px;
}

button:hover {
   background-color: #fff;
   color: #042424;
   border-color: #042424; 
}

/* 리스트 및 페이지네이션 */
#noteList {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    max-height: 200px; /* 최대 높이 설정 */
    overflow-y: auto; /* 스크롤 가능하게 설정 */
}

#noteList li {
	color: #042424;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left; /* 텍스트는 왼쪽 정렬 */
}

.pagination {
    display: flex;
    justify-content: center; /* 페이지네이션 중앙 정렬 */
    gap: 5px;
}

.pagination button {
    padding: 5px 10px;
    background-color: #042424;
    color: white;
    border-radius: 5px;
    border: none;
}

.pagination .active {
    font-weight: bold;
    background-color: #042424;
}
