
* {
	font-family: "Noto Sans KR", sans-serif;
}
/* 모달 창 스타일 */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* 추가할 스타일 예시 */
.pagination {
    margin: 10px 0;
}

.pagination button {
    margin: 0 2px;
}

.pagination .active {
    font-weight: bold;
    color: red;
}

