@charset "UTF-8";

.divall {
	margin: 50px 200px;
}

.modal-body{
	margin : 0px 50px 30px 50px;
	
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

.contents-container {
    margin : auto;
}

.vibtn{
	border: none;
    color: #042424;
    background-color: #ececec;
    width: 100px;
    padding: 5px;
}

.vibtn:hover {
   background-color: #fff;
   color: #042424;
   border: 1px solid;
   border-color: #042424;
}
