@charset "UTF-8";

    html, body{
    height: 100%;
    }
    
    footer{
    height: 150px;
    position: relative;
    transform: translateY(20%);
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f5f2;
    color: #272727;
    }
    
    .divall{
      min-height: 800px;
    }
    
    .nav-link{
    color : #272727;
    font-size: medium;
    }

 